-Xep:AlmostJavadoc:ERROR
-Xep:AmbiguousMethodReference:ERROR
-Xep:AnnotateFormatMethod:ERROR
-Xep:ArgumentSelectionDefectChecker:ERROR
-Xep:ArrayAsKeyOfSetOrMap:ERROR
-Xep:AssertEqualsArgumentOrderChecker:ERROR
-Xep:AssertThrowsMultipleStatements:ERROR
-Xep:AssertionFailureIgnored:ERROR
-Xep:AttemptedNegativeZero:ERROR
-Xep:BadComparable:ERROR
-Xep:BadInstanceof:ERROR
-Xep:BigDecimalEquals:ERROR
-Xep:BoxedPrimitiveConstructor:ERROR
-Xep:ByteBufferBackingArray:ERROR
-Xep:CacheLoaderNull:ERROR
-Xep:CanonicalDuration:ERROR
-Xep:CatchAndPrintStackTrace:ERROR
-Xep:CatchFail:ERROR
-Xep:ClassCanBeStatic:ERROR
-Xep:ClassInitializationDeadlock:ERROR
-Xep:ClassName:ERROR
-Xep:ClassNewInstance:ERROR
-Xep:CollectionUndefinedEquality:ERROR
-Xep:CollectorShouldNotUseState:ERROR
-Xep:CompareToZero:ERROR
-Xep:DateChecker:ERROR
-Xep:DateFormatConstant:ERROR
-Xep:DefaultCharset:ERROR
-Xep:DepAnn:ERROR
-Xep:DeprecatedVariable:ERROR
-Xep:DistinctVarargsChecker:ERROR
# Flags throwing exception factory methods and doesn't seem that useful
-Xep:DoNotCallSuggester:OFF
-Xep:DoubleCheckedLocking:ERROR
-Xep:EmptyBlockTag:ERROR
-Xep:EmptySetMultibindingContributions:ERROR
# We would rather want the opposite check
-Xep:EqualsGetClass:OFF
-Xep:EqualsIncompatibleType:ERROR
-Xep:EqualsUnsafeCast:ERROR
-Xep:EqualsUsingHashCode:ERROR
-Xep:ErroneousBitwiseExpression:ERROR
-Xep:ErroneousThreadPoolConstructorChecker:ERROR
-Xep:EscapedEntity:ERROR
-Xep:ExpensiveLenientFormatString:ERROR
-Xep:ExtendingJUnitAssert:ERROR
-Xep:ExtendsObject:ERROR
-Xep:FallThrough:ERROR
-Xep:Finalize:ERROR
-Xep:FormatStringShouldUsePlaceholders:ERROR
-Xep:GetClassOnEnum:ERROR
# TODO enable globally
-Xep:HidingField:ERROR
# These methods are used in tests and other places where we want the
# default time zone, and changing them simply to fix this warning would
# make the code worse.
-Xep:JavaTimeDefaultTimeZone:OFF
# covered by Modernizer
-Xep:JdkObsolete:OFF
# This check requires list fields to be declared as ImmutableList, which is not in line with project's code style
-Xep:Immutable:OFF
# flags enums with List fields even if initialized with ImmutableList, and other false positives
-Xep:ImmutableEnumChecker:OFF
-Xep:ImmutableSetForContains:ERROR
# fields/variables should not differ only in case
-Xep:InconsistentCapitalization:ERROR
-Xep:InconsistentHashCode:ERROR
-Xep:InjectOnConstructorOfAbstractClass:ERROR
-Xep:InvalidInlineTag:ERROR
-Xep:LongFloatConversion:ERROR
-Xep:MissingCasesInEnumSwitch:ERROR
-Xep:MissingOverride:ERROR
# Sometimes our javadoc contains just a see directive
-Xep:MissingSummary:OFF
-Xep:ModifiedButNotUsed:ERROR
-Xep:MutablePublicArray:ERROR
-Xep:NarrowCalculation:ERROR
-Xep:NarrowingCompoundAssignment:ERROR
-Xep:NullOptional:ERROR
-Xep:NullableOptional:ERROR
-Xep:NullablePrimitive:ERROR
-Xep:ObjectEqualsForPrimitives:ERROR
-Xep:ObjectToString:ERROR
-Xep:OptionalNotPresent:ERROR
-Xep:OrphanedFormatString:ERROR
-Xep:Overrides:ERROR
-Xep:PatternMatchingInstanceof:ERROR
-Xep:PreconditionsExpensiveString:ERROR
# Flags List fields even if initialized with ImmutableList
-Xep:PreferredInterfaceType:OFF
-Xep:PrimitiveArrayPassedToVarargsMethod:ERROR
-Xep:RedundantNullCheck:ERROR
# Disabled likely because we disagree with the suggested fix
-Xep:RethrowReflectiveOperationExceptionAsLinkageError:OFF
-Xep:StaticAssignmentOfThrowable:ERROR
-Xep:StaticGuardedByInstance:ERROR
-Xep:StreamResourceLeak:ERROR
-Xep:StringCaseLocaleUsage:ERROR
-Xep:SuppressWarningsDeprecated:ERROR
-Xep:ThreeLetterTimeZoneID:ERROR
-Xep:TraditionalSwitchExpression:ERROR
-Xep:UnicodeEscape:ERROR
-Xep:UnnamedVariable:ERROR
-Xep:UnnecessarilyFullyQualified:ERROR
-Xep:UnnecessaryCopy:ERROR
-Xep:UnnecessaryLongToIntConversion:ERROR
-Xep:UnnecessaryMethodReference:ERROR
-Xep:UnnecessaryOptionalGet:ERROR
-Xep:UnnecessaryParentheses:ERROR
# False positive from io.airlift.configuration.Config annotation
-Xep:UnnecessaryQualifier:OFF
-Xep:UnnecessaryStringBuilder:ERROR
# This check does not understand static reflection.
# Enabling this check will require many unnecessary suppressions
-Xep:UnusedMethod:OFF
-Xep:UnusedVariable:ERROR
-Xep:UseEnumSwitch:ERROR
