#-Daether.syncContext.named.factory=file-lock
#-Daether.syncContext.named.nameMapper=file-hgav
#-Daether.syncContext.named.time=60
#-Daether.syncContext.named.retry=5
-Daether.remoteRepositoryFilter.prefixes=true
-Daether.remoteRepositoryFilter.prefixes.basedir=${session.rootDirectory}/.mvn/rrf/
-Daether.remoteRepositoryFilter.groupId=true
-Daether.remoteRepositoryFilter.groupId.basedir=${session.rootDirectory}/.mvn/rrf/
