--strict-checksums
-Daether.syncContext.named.factory=file-lock
-Daether.syncContext.named.nameMapper=file-hgav
-Daether.syncContext.named.retry=5
-Daether.dependencyCollector.impl=bf
-Daether.remoteRepositoryFilter.prefixes=true
-Daether.remoteRepositoryFilter.prefixes.basedir=${session.rootDirectory}/.mvn/rrf/
-Daether.remoteRepositoryFilter.groupId=true
-Daether.remoteRepositoryFilter.groupId.basedir=${session.rootDirectory}/.mvn/rrf/

