<settings>
    <pluginGroups>
        <pluginGroup>eu.maveniverse.maven.plugins</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>sonatype-central-portal</id>
            <username>${env.MAVENCENTRAL_USERNAME}</username>
            <password>${env.MAVENCENTRAL_PASSWORD}</password>
            <configuration>
                <njord.publisher>sonatype-cp</njord.publisher>
                <njord.releaseUrl>njord:template:release-sca</njord.releaseUrl>
            </configuration>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ci-google-maven-central</id>
            <activation>
                <property>
                    <name>env.CONTINUOUS_INTEGRATION</name>
                    <value>true</value>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>google-maven-central</id>
                    <name>Google Maven Central mirror</name>
                    <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>google-maven-central</id>
                    <name>Google Maven Central mirror</name>
                    <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
