<settings>
    <pluginGroups>
        <pluginGroup>eu.maveniverse.maven.plugins</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>sonatype-central-portal</id>
            <username>${env.MAVENCENTRAL_USERNAME}</username>
            <password>${env.MAVENCENTRAL_PASSWORD}</password>
            <configuration>
                <njord.publisher>sonatype-cp</njord.publisher>
                <njord.releaseUrl>njord:template:release-sca</njord.releaseUrl>
            </configuration>
        </server>
    </servers>
    <mirrors>
        <!--
            Block repositories declared by dependency POMs.
            Downside: an artifact missing from the allowed repositories, such as a reactor
            SNAPSHOT not built yet, fails with "Blocked mirror for repositories: [...]"
            instead of a plain "could not find artifact".
            TODO: once mvnd is based on Maven 3.10, replace this mirror with the cleaner
            groupId filter rules from commit df3a3e95aad, which mvnd on Maven 3.9 cannot use.
        -->
        <mirror>
            <id>block-undeclared-repositories</id>
            <mirrorOf>*,!central,!google-maven-central,!confluent</mirrorOf>
            <url>https://0.0.0.0/</url>
            <blocked>true</blocked>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>ci-google-maven-central</id>
            <repositories>
                <repository>
                    <id>google-maven-central</id>
                    <name>Google Maven Central mirror</name>
                    <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>google-maven-central</id>
                    <name>Google Maven Central mirror</name>
                    <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
