html {
    scroll-behavior: smooth;
}

div.highlight {
    background-color: #f5f5f5;
}

.sig-name, .sig-paren {
    font-weight: bold;
}

.md-typeset code {
    padding: 0 0.3em;
}

pre.literal-block {
    padding: .525rem .6rem;
}

.md-nav code {
    font-size: smaller;
}

.md-typeset .admonition, .md-typeset .admonition-title {
    font-size: 0.64rem
}

@media only screen and (min-width: 88.25em) {
    .md-grid {
        max-width: 61rem;
    }

    .md-sidebar--secondary {
        margin-left: 61rem;
    }
}

.o-tooltip--left:after {
    font-size: 0.6rem;
}

a.copybtn {
    opacity: 1.0;
    width: 1.1em;
    height: 1.1em;
    top: .4em;
    right: .4em;
}

.highlight {
    padding: 1em 0.5em;
}

.copybtn:hover {
    opacity: 0.3 !important;
    cursor: pointer;
}

