druid.service=druid/middleManager
druid.plaintextPort=8091

# Number of tasks per middleManager
druid.worker.capacity=1

# Task launch parameters
druid.indexer.runner.javaOpts=-server -Xmx384m -XX:MaxDirectMemorySize=200m -Duser.timezone=UTC -Dfile.encoding=UTF-8 -XX:+ExitOnOutOfMemoryError -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
druid.indexer.task.baseTaskDir=var/druid/task

# HTTP server threads
druid.server.http.numThreads=6

# Processing threads and buffers on Peons
druid.indexer.fork.property.druid.processing.numMergeBuffers=3
druid.indexer.fork.property.druid.processing.buffer.sizeBytes=40000000
druid.indexer.fork.property.druid.processing.numThreads=1
druid.peon.defaultSegmentWriteOutMediumFactory.type=offHeapMemory


# Hadoop indexing
druid.indexer.task.hadoopWorkingPath=var/druid/hadoop-tmp

# Segment location
druid.storage.type=local
druid.storage.storageDirectory=var/druid/segments

# Indexer logs
druid.indexer.logs.type=file
druid.indexer.logs.directory=var/druid/indexing-logs
