-server
-Xmx2G
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=150M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-DHADOOP_USER_NAME=hive
-Duser.timezone=Asia/Kathmandu
-XX:ErrorFile=/docker/logs/product-tests-presto-jvm-error-file.log
# Allow loading dynamic agent used by JOL
-XX:+EnableDynamicAgentLoading
