[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
CN = hms-thrift-https
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = hms-thrift-https
