# automate certs generation in a future PR instead of committing them in git
# docker run --rm -v "$PWD/testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-kafka-ssl/secrets":/secrets -w /secrets confluentinc/cp-kafka  ./create-certs.sh
# *_creds
# *.jks
*.crt
*.key
*.pem
*.srl
*.req
*.csr
*.old
*.attr
