-server
# coordinator is not a worker
-Xmx1G
-XX:-UseBiasedLocking
# Disable G1 to enable UseGCOverheadLimit (JDK-8212084) and reduce JVM's memory footprint
-XX:-UseG1GC
-XX:+UseParallelGC
-XX:+ExitOnOutOfMemoryError
-XX:+UseGCOverheadLimit
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=150M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
# jdk.nio.maxCachedBufferSize controls what buffers can be allocated in per-thread "temporary buffer cache" (sun.nio.ch.Util). Value of 0 disables the cache.
-Djdk.nio.maxCachedBufferSize=0
-DHADOOP_USER_NAME=hive
-Duser.timezone=Asia/Kathmandu
-XX:ErrorFile=/docker/logs/product-tests-presto-jvm-error-file.log
-javaagent:/docker/jacoco-agent.jar=output=tcpserver,address=*,port=19474,includes=io.trino.*
