alabaster==0.7.12
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
certifi==2019.11.28
chardet==3.0.4
css-html-js-minify==2.5.5
docutils==0.16
idna==2.9
imagesize==1.2.0
Jinja2==2.11.1
lxml==4.5.2
markdown-it-py==0.4.8
MarkupSafe==1.1.1
myst-parser==0.9.1
packaging==20.3
Pillow==7.0.0
Pygments==2.5.2
pyparsing==2.4.6
python-slugify==4.0.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==2.4.4
sphinx-material==0.0.30
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
text-unidecode==1.3
Unidecode==1.1.1
urllib3==1.25.8
